:root{
    --branco: #ffffff;
    --azul: #007bff;
    --verde:  #1e7e34;
    --vermelho: #bd2130;
}
.navbar-brand img {
    width: 13%;
    padding: 10px;
}
#logo{
    width: 30%; 
}
#contatcts-table {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

#contatcts-table thead th{
    color: var(--branco);
    background-color:var(--azul);
}

#empty-list-text {
    text-align: center;
}

.check-icon {
    color:var(--verde);
}

.delete-icon {
    color: var(--vermelho);
}

.edit-icon {
    color:var(--azul);
}

.delete-btn {
    background-color: transparent;
    border: none !important;
    padding: 0;
}

#view-contact-container{
    max-width: 20%;
    margin: 0 auto !important;
}

.bold {
    font-weight: bold !important;
}

#back-link-container{
    display: block;
    width: 500px;
    margin: 30px auto !important;
}

#back-link{
    border: 1px solid var(--azul);
    color:var(--branco);
    background-color:var(--azul);
    border-radius: 4px;
    padding: 5px;
    text-decoration: none;
}

.delete-form{
    display: inline-block !important;
}