body{
    background-color: #d6cece;
}

.navbar-brand img{
    width: 13%;
}
contacts-table{
    max-width: 800px;
    margin: 0 auto;
}


#contacts-table thead th{
    background-color: #007BFF;
    color:white;
}

#empty-list-text{
    text-align: center;

}
.container{
    background-color: rgba(255, 255, 255, 0.836);

}

/*.table thead{ 
   background-color: #007BFF;
}*/



.check-icon{
    color:#1E7E34;
}

.delete-icon{
    color:#bd2130;
}

.edit-icon{
    color:#007BFF;
}

.delete-btn{
    background-color: transparent;
    border:none;
    padding: 0;

}
#view-contact-container{
    max-width: 20%;
    margin: 0 auto !important;
}

.bold{
    font-weight: bold !important;
}

#back-link-container{
    display: block;
    width: 500px;
    margin: 30px auto !important;
}

#back-link{  /*NÃO FUNCIONA*/
    border:1px solid #007BFF;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none!important;

}
